In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import *

# Cadastro

In [2]:
cadastro = pd.read_csv('./data/CADASTRAL.txt.bz2', sep='\t')

/home/jvcm/neurotech-case/neuro-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
cadastro.head()

,CODIGO_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,CIDADE,UF,BAIRRO,CEP,QTD_DEPENDENTES,DATA_CADASTRO,DATA_ADMISSAO,CATEGORIAL_PROFISSAO,TIPO_RESIDENCIA,RENDA_TITULAR,RENDA_CJ,OUTRAS_RENDAS,QTD_CARTOES_ADICIONAIS,FLAG_CONTA_BANCO,VALOR_HISTORICO_COMPRAS
0,3,1951/10/21 00:00:00.000000000,F,CA,SANTA ROSA,RS,GLORIA,98900000.0,1.0,1998/10/28 00:00:00.000000000,1990/01/01 00:00:00.000000000,AUT+NOMO,PR,2500,2500,NaN,1,NaN,27093.04
1,4,NaN,M,NaN,SANTO CRISTO,RS,NaN,98960000.0,0.0,NaN,NaN,AUT+NOMO,NaN,NaN,NaN,NaN,0,NaN,34.00
2,5,1966/02/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,CENTRO,98960000.0,1.0,2007/11/24 00:00:00.000000000,2000/05/01 00:00:00.000000000,ASSALARIADO,PR,1500,0,NaN,0,S,4755.19
3,6,1931/01/04 00:00:00.000000000,F,CA,CANDIDO GODOI,RS,CENTRO,98970000.0,0.0,1998/07/12 00:00:00.000000000,1951/01/01 00:00:00.000000000,APOSENTADO,PR,520,NaN,NaN,0,S,2107.00
4,7,1965/10/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,INTERIOR,98960000.0,0.0,2007/08/16 00:00:00.000000000,1968/05/01 00:00:00.000000000,AGRICULTOR,PR,300,680,NaN,0,NaN,2523.55

In [4]:
# cadastro = cadastro.iloc[:, [0,9]]
cadastro['DATA_CADASTRO'] = pd.to_datetime(cadastro['DATA_CADASTRO'])
cadastro['CODIGO_CLIENTE'] = cadastro['CODIGO_CLIENTE'].astype(str)

In [5]:
cadastro.head()

,CODIGO_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,CIDADE,UF,BAIRRO,CEP,QTD_DEPENDENTES,DATA_CADASTRO,DATA_ADMISSAO,CATEGORIAL_PROFISSAO,TIPO_RESIDENCIA,RENDA_TITULAR,RENDA_CJ,OUTRAS_RENDAS,QTD_CARTOES_ADICIONAIS,FLAG_CONTA_BANCO,VALOR_HISTORICO_COMPRAS
0,3,1951/10/21 00:00:00.000000000,F,CA,SANTA ROSA,RS,GLORIA,98900000.0,1.0,1998-10-28,1990/01/01 00:00:00.000000000,AUT+NOMO,PR,2500,2500,NaN,1,NaN,27093.04
1,4,NaN,M,NaN,SANTO CRISTO,RS,NaN,98960000.0,0.0,NaT,NaN,AUT+NOMO,NaN,NaN,NaN,NaN,0,NaN,34.00
2,5,1966/02/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,CENTRO,98960000.0,1.0,2007-11-24,2000/05/01 00:00:00.000000000,ASSALARIADO,PR,1500,0,NaN,0,S,4755.19
3,6,1931/01/04 00:00:00.000000000,F,CA,CANDIDO GODOI,RS,CENTRO,98970000.0,0.0,1998-07-12,1951/01/01 00:00:00.000000000,APOSENTADO,PR,520,NaN,NaN,0,S,2107.00
4,7,1965/10/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,INTERIOR,98960000.0,0.0,2007-08-16,1968/05/01 00:00:00.000000000,AGRICULTOR,PR,300,680,NaN,0,NaN,2523.55

In [6]:
cadastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277840 entries, 0 to 4277839
Data columns (total 19 columns):
 #   Column                   Dtype
---  ------                   -----
 0   CODIGO_CLIENTE           object
 1   DATA_NASCIMENTO          object
 2   SEXO                     object
 3   ESTADO_CIVIL             object
 4   CIDADE                   object
 5   UF                       object
 6   BAIRRO                   object
 7   CEP                      float64
 8   QTD_DEPENDENTES          float64
 9   DATA_CADASTRO            datetime64[ns]
 10  DATA_ADMISSAO            object
 11  CATEGORIAL_PROFISSAO     object
 12  TIPO_RESIDENCIA          object
 13  RENDA_TITULAR            object
 14  RENDA_CJ                 object
 15  OUTRAS_RENDAS            object
 16  QTD_CARTOES_ADICIONAIS   int64
 17  FLAG_CONTA_BANCO         object
 18  VALOR_HISTORICO_COMPRAS  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(14)
memory usage: 620.1+ MB

Cadastrados em 2017:

In [7]:
cadastro = cadastro[cadastro['DATA_CADASTRO'] >= pd.Timestamp(datetime.date(2017, 1, 1))]
cadastro = cadastro[cadastro['DATA_CADASTRO'] < pd.Timestamp(datetime.date(2018, 1, 1))]

In [8]:
len(cadastro)

178403

In [9]:
cadastro['DATA_LIMITE'] = cadastro['DATA_CADASTRO'].apply(lambda x: x + relativedelta(months=+6))

# Cartão/Carnê (Utilizar para as duas bases)

In [27]:
df = pd.read_csv('./data/CARNE1.csv')

In [28]:
df.head()

   CODIGO_CLIENTE DATA_VENCIMENTO DATA_PAGAMENTO
0              10      2018-05-10     2018-05-07
1              10      2018-06-10     2018-06-08
2              10      2017-03-05     2017-03-03
3              10      2017-06-10     2017-06-14
4              10      2017-07-10     2017-07-11

In [29]:
len(df)

27728182

In [30]:
df['CODIGO_CLIENTE'] = df['CODIGO_CLIENTE'].astype(str)
df['DATA_VENCIMENTO'] = pd.to_datetime(df['DATA_VENCIMENTO'])
df['DATA_PAGAMENTO'] = pd.to_datetime(df['DATA_PAGAMENTO'])

Inner Join:

In [31]:
df = pd.merge(df, cadastro, on='CODIGO_CLIENTE', how='inner')

Vencimento em dia de semana:

In [32]:
df['DATA_VENCIMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(days=+1) if (x.weekday() == 6) else x)
df['DATA_VENCIMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(days=+2) if (x.weekday() == 5) else x)

Data limite de pagamento:

In [33]:
df['DATA_LIMITE_PAGAMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(months = +6))

Flag atraso:

In [34]:
df['FLAG_ATRASO'] = (pd.isnull(df['DATA_PAGAMENTO']) | (df['DATA_PAGAMENTO'] > df['DATA_LIMITE_PAGAMENTO']))
df['FLAG_ATRASO'] = df['FLAG_ATRASO'].astype(int)

In [35]:
df.loc[:10, ['DATA_CADASTRO', 'DATA_LIMITE']]

   DATA_CADASTRO DATA_LIMITE
0     2017-10-31  2018-04-30
1     2017-10-31  2018-04-30
2     2017-10-31  2018-04-30
3     2017-10-31  2018-04-30
4     2017-11-30  2018-05-30
5     2017-11-30  2018-05-30
6     2017-11-30  2018-05-30
7     2017-11-30  2018-05-30
8     2017-11-30  2018-05-30
9     2017-11-30  2018-05-30
10    2017-11-30  2018-05-30

In [36]:
df.loc[:10, ['DATA_VENCIMENTO', 'DATA_LIMITE_PAGAMENTO', 'DATA_PAGAMENTO', 'FLAG_ATRASO']]

   DATA_VENCIMENTO DATA_LIMITE_PAGAMENTO DATA_PAGAMENTO  FLAG_ATRASO
0       2017-11-15            2018-05-15     2017-11-16            0
1       2017-12-15            2018-06-15     2017-12-14            0
2       2018-01-15            2018-07-15     2018-01-15            0
3       2018-01-15            2018-07-15     2018-01-22            0
4       2018-06-25            2018-12-25     2018-06-25            0
5       2018-02-20            2018-08-20     2018-01-26            0
6       2018-03-20            2018-09-20     2018-01-26            0
7       2018-04-20            2018-10-20     2018-05-28            0
8       2018-05-21            2018-11-21     2018-05-28            0
9       2018-06-20            2018-12-20     2018-05-28            0
10      2018-02-20            2018-08-20     2018-03-28            0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1675530 entries, 0 to 1675529
Data columns (total 24 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CODIGO_CLIENTE           1675530 non-null  object
 1   DATA_VENCIMENTO          1675530 non-null  datetime64[ns]
 2   DATA_PAGAMENTO           1628978 non-null  datetime64[ns]
 3   DATA_NASCIMENTO          1675529 non-null  object
 4   SEXO                     1675529 non-null  object
 5   ESTADO_CIVIL             1675529 non-null  object
 6   CIDADE                   1675530 non-null  object
 7   UF                       1675530 non-null  object
 8   BAIRRO                   1675530 non-null  object
 9   CEP                      1675530 non-null  float64
 10  QTD_DEPENDENTES          1675524 non-null  float64
 11  DATA_CADASTRO            1675530 non-null  datetime64[ns]
 12  DATA_ADMISSAO            959864 non-null   object
 13  CATEGORIAL_PROFISSAO     1641175 non-null  object
 14  TIPO_RESIDENCIA          1657952 non-null  object
 15  RENDA_TITULAR            1675478 non-null  object
 16  RENDA_CJ                 92613 non-null    object
 17  OUTRAS_RENDAS            256914 non-null   object
 18  QTD_CARTOES_ADICIONAIS   1675530 non-null  int64
 19  FLAG_CONTA_BANCO         147546 non-null   object
 20  VALOR_HISTORICO_COMPRAS  1675530 non-null  float64
 21  DATA_LIMITE              1675530 non-null  datetime64[ns]
 22  DATA_LIMITE_PAGAMENTO    1675530 non-null  datetime64[ns]
 23  FLAG_ATRASO              1675530 non-null  int64
dtypes: datetime64[ns](5), float64(3), int64(2), object(14)
memory usage: 319.6+ MB

Flag elegível:

In [38]:
df['FLAG_LIMITE'] = (df['DATA_VENCIMENTO'] <= df['DATA_LIMITE'])
df['FLAG_LIMITE'] = df['FLAG_LIMITE'].astype(int)

In [39]:
len(df)

1675530

In [40]:
eleg = df.groupby('CODIGO_CLIENTE')['FLAG_ATRASO','FLAG_LIMITE'].max()

/home/jvcm/neurotech-case/neuro-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
eleg = eleg[eleg['FLAG_LIMITE']>0]

In [41]:
good = eleg[eleg['FLAG_ATRASO'] == 0]
bad = eleg[eleg['FLAG_ATRASO'] == 1]

In [42]:
len(bad)

10166

In [43]:
eleg.iloc[:,:-1].to_csv('carne_classif.csv')

In [28]:
! ls

'Aplicação de modelos.ipynb'   data		   results
 business_analysis.ipynb       neuro-env	   spark_models.ipynb
 carne_classif.csv	       pre_process.ipynb   TABELAO_FINAL.csv
 cartao_classif.csv	       README.md
 classify_clients.ipynb        requirements.txt

# --------------------------------------------------------------------
# União de Carnê e Cartão

In [44]:
cartao = pd.read_csv('cartao_classif.csv')
carne = pd.read_csv('carne_classif.csv')

In [45]:
clientes = cartao.append(carne)

In [46]:
clientes.head()

   CODIGO_CLIENTE  FLAG_ATRASO
0        10001336            0
1        10002200            0
2        10002278            0
3        10003940            1
4        10004319            1

In [47]:
clientes = clientes.groupby('CODIGO_CLIENTE')['FLAG_ATRASO'].max()

In [48]:
dic = {'CODIGO_CLIENTE': clientes.index, 'CLASS': clientes.values}

In [49]:
df_clientes = pd.DataFrame(data=dic)

In [50]:
df_clientes.CLASS.value_counts()

0    57349
1    45070
Name: CLASS, dtype: int64

In [51]:
df_clientes['CODIGO_CLIENTE'] = df_clientes['CODIGO_CLIENTE'].astype(str)

In [52]:
df_clientes = cadastro.merge(df_clientes, on='CODIGO_CLIENTE', how='inner')

In [53]:
df_clientes.head()

,CODIGO_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,CIDADE,UF,BAIRRO,CEP,QTD_DEPENDENTES,DATA_CADASTRO,...,CATEGORIAL_PROFISSAO,TIPO_RESIDENCIA,RENDA_TITULAR,RENDA_CJ,OUTRAS_RENDAS,QTD_CARTOES_ADICIONAIS,FLAG_CONTA_BANCO,VALOR_HISTORICO_COMPRAS,DATA_LIMITE,CLASS
0,875,1974/03/03 00:00:00.000000000,F,SO,SANTO CRISTO,RS,PHILIPPSEN,98960000.0,0.0,2017-10-31,...,AUT+NOMO,PR,1000,NaN,NaN,0,NaN,1225.73,2018-04-30,0
1,1689,1978/02/20 00:00:00.000000000,M,SO,TOLEDO,PR,JARDIM COOPAGRO,85903370.0,0.0,2017-11-30,...,APOSENTADO,AL,1152,NaN,NaN,0,NaN,1045.04,2018-05-30,1
2,5140,1956/10/16 00:00:00.000000000,M,SO,SANTA ROSA,RS,CRUZEIRO,98900000.0,0.0,2017-03-13,...,APOSENTADO,PR,1900,NaN,NaN,0,NaN,3280.56,2017-09-13,0
3,7376,1961/01/22 00:00:00.000000000,M,SE,SANTA ROSA,RS,AUXILIADORA,98796524.0,0.0,2017-11-14,...,ASSALARIADO,PR,2182,NaN,NaN,0,S,1337.71,2018-05-14,0
4,9042,1968/08/22 00:00:00.000000000,F,CA,SANTA ROSA,RS,CENTRAL,98787404.0,0.0,2017-02-20,...,ASSALARIADO,PR,3335,1800,NaN,0,NaN,5987.88,2017-08-20,1

In [54]:
df_clientes.CLASS.value_counts()

0    57349
1    45070
Name: CLASS, dtype: int64

In [55]:
df_clientes.to_csv('TABELAO_FINAL.csv', index = False)