In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import *

# Cadastro

In [2]:
cadastro = pd.read_csv('./data/CADASTRAL.txt.bz2', sep='\t')

/home/jvcm/neurotech-case/neuro-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
cadastro.head()

,CODIGO_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,CIDADE,UF,BAIRRO,CEP,QTD_DEPENDENTES,DATA_CADASTRO,DATA_ADMISSAO,CATEGORIAL_PROFISSAO,TIPO_RESIDENCIA,RENDA_TITULAR,RENDA_CJ,OUTRAS_RENDAS,QTD_CARTOES_ADICIONAIS,FLAG_CONTA_BANCO,VALOR_HISTORICO_COMPRAS
0,3,1951/10/21 00:00:00.000000000,F,CA,SANTA ROSA,RS,GLORIA,98900000.0,1.0,1998/10/28 00:00:00.000000000,1990/01/01 00:00:00.000000000,AUT+NOMO,PR,2500,2500,NaN,1,NaN,27093.04
1,4,NaN,M,NaN,SANTO CRISTO,RS,NaN,98960000.0,0.0,NaN,NaN,AUT+NOMO,NaN,NaN,NaN,NaN,0,NaN,34.00
2,5,1966/02/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,CENTRO,98960000.0,1.0,2007/11/24 00:00:00.000000000,2000/05/01 00:00:00.000000000,ASSALARIADO,PR,1500,0,NaN,0,S,4755.19
3,6,1931/01/04 00:00:00.000000000,F,CA,CANDIDO GODOI,RS,CENTRO,98970000.0,0.0,1998/07/12 00:00:00.000000000,1951/01/01 00:00:00.000000000,APOSENTADO,PR,520,NaN,NaN,0,S,2107.00
4,7,1965/10/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,INTERIOR,98960000.0,0.0,2007/08/16 00:00:00.000000000,1968/05/01 00:00:00.000000000,AGRICULTOR,PR,300,680,NaN,0,NaN,2523.55

In [4]:
# cadastro = cadastro.iloc[:, [0,9]]
cadastro['DATA_CADASTRO'] = pd.to_datetime(cadastro['DATA_CADASTRO'])
cadastro['CODIGO_CLIENTE'] = cadastro['CODIGO_CLIENTE'].astype(str)

In [5]:
cadastro.head()

,CODIGO_CLIENTE,DATA_NASCIMENTO,SEXO,ESTADO_CIVIL,CIDADE,UF,BAIRRO,CEP,QTD_DEPENDENTES,DATA_CADASTRO,DATA_ADMISSAO,CATEGORIAL_PROFISSAO,TIPO_RESIDENCIA,RENDA_TITULAR,RENDA_CJ,OUTRAS_RENDAS,QTD_CARTOES_ADICIONAIS,FLAG_CONTA_BANCO,VALOR_HISTORICO_COMPRAS
0,3,1951/10/21 00:00:00.000000000,F,CA,SANTA ROSA,RS,GLORIA,98900000.0,1.0,1998-10-28,1990/01/01 00:00:00.000000000,AUT+NOMO,PR,2500,2500,NaN,1,NaN,27093.04
1,4,NaN,M,NaN,SANTO CRISTO,RS,NaN,98960000.0,0.0,NaT,NaN,AUT+NOMO,NaN,NaN,NaN,NaN,0,NaN,34.00
2,5,1966/02/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,CENTRO,98960000.0,1.0,2007-11-24,2000/05/01 00:00:00.000000000,ASSALARIADO,PR,1500,0,NaN,0,S,4755.19
3,6,1931/01/04 00:00:00.000000000,F,CA,CANDIDO GODOI,RS,CENTRO,98970000.0,0.0,1998-07-12,1951/01/01 00:00:00.000000000,APOSENTADO,PR,520,NaN,NaN,0,S,2107.00
4,7,1965/10/07 00:00:00.000000000,M,CA,SANTO CRISTO,RS,INTERIOR,98960000.0,0.0,2007-08-16,1968/05/01 00:00:00.000000000,AGRICULTOR,PR,300,680,NaN,0,NaN,2523.55

In [6]:
cadastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277840 entries, 0 to 4277839
Data columns (total 19 columns):
 #   Column                   Dtype
---  ------                   -----
 0   CODIGO_CLIENTE           object
 1   DATA_NASCIMENTO          object
 2   SEXO                     object
 3   ESTADO_CIVIL             object
 4   CIDADE                   object
 5   UF                       object
 6   BAIRRO                   object
 7   CEP                      float64
 8   QTD_DEPENDENTES          float64
 9   DATA_CADASTRO            datetime64[ns]
 10  DATA_ADMISSAO            object
 11  CATEGORIAL_PROFISSAO     object
 12  TIPO_RESIDENCIA          object
 13  RENDA_TITULAR            object
 14  RENDA_CJ                 object
 15  OUTRAS_RENDAS            object
 16  QTD_CARTOES_ADICIONAIS   int64
 17  FLAG_CONTA_BANCO         object
 18  VALOR_HISTORICO_COMPRAS  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(14)
memory usage: 620.1+ MB

Cadastrados em 2017:

In [7]:
cadastro = cadastro[cadastro['DATA_CADASTRO'] >= pd.Timestamp(datetime.date(2017, 1, 1))]
cadastro = cadastro[cadastro['DATA_CADASTRO'] < pd.Timestamp(datetime.date(2018, 1, 1))]

In [8]:
len(cadastro)

178403

In [9]:
cadastro['DATA_LIMITE'] = cadastro['DATA_CADASTRO'].apply(lambda x: x + relativedelta(months=+6))

# Cartão/Carnê (Utilizar para as duas bases)

In [ ]:
df = pd.read_csv('./data/CARNE.txt.bz2', sep='\t', names= ['CODIGO_CLIENTE', 'DATA_VENCIMENTO', 'DATA_PAGAMENTO'])

In [ ]:
df['CODIGO_CLIENTE'] = df['CODIGO_CLIENTE'].astype(str)
df['DATA_VENCIMENTO'] = pd.to_datetime(df['DATA_VENCIMENTO'])
df['DATA_PAGAMENTO'] = pd.to_datetime(df['DATA_PAGAMENTO'])

Inner Join:

In [ ]:
df = pd.merge(df, cadastro, on='CODIGO_CLIENTE', how='inner')

Vencimento em dia de semana:

In [ ]:
df['DATA_VENCIMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(days=+1) if (x.weekday() == 6) else x)
df['DATA_VENCIMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(days=+2) if (x.weekday() == 5) else x)

Data limite de pagamento:

In [ ]:
df['DATA_LIMITE_PAGAMENTO'] = df['DATA_VENCIMENTO'].apply(lambda x: x + relativedelta(months = +3))

Flag atraso:

In [ ]:
df['FLAG_ATRASO'] = (pd.isnull(df['DATA_PAGAMENTO']) | (df['DATA_PAGAMENTO'] > df['DATA_LIMITE_PAGAMENTO']))
df['FLAG_ATRASO'] = df['FLAG_ATRASO'].astype(int)

In [ ]:
df.loc[:10, ['DATA_CADASTRO', 'DATA_LIMITE']]

In [ ]:
df.loc[:10, ['DATA_VENCIMENTO', 'DATA_LIMITE_PAGAMENTO', 'DATA_PAGAMENTO', 'FLAG_ATRASO']]

In [ ]:
df.info()

Flag elegível:

In [ ]:
df['FLAG_LIMITE'] = (df['DATA_VENCIMENTO'] <= df['DATA_LIMITE'])
df['FLAG_LIMITE'] = df['FLAG_LIMITE'].astype(int)

In [ ]:
len(df)

In [ ]:
eleg = df.groupby('CODIGO_CLIENTE')['FLAG_ATRASO','FLAG_LIMITE'].max()

In [ ]:
eleg = eleg[eleg['FLAG_LIMITE']>0]

In [ ]:
good = eleg[eleg['FLAG_ATRASO'] == 0]
bad = eleg[eleg['FLAG_ATRASO'] == 1]

In [ ]:
len(good)

In [ ]:
eleg.iloc[:,:-1].to_csv('cartao_classif.csv')

In [ ]:
! ls

# --------------------------------------------------------------------
# União de Carnê e Cartão

In [ ]:
cartao = pd.read_csv('cartao_classif.csv')
carne = pd.read_csv('carne_classif.csv')

In [ ]:
clientes = cartao.append(carne)

In [ ]:
clientes.head()

In [ ]:
clientes = clientes.groupby('CODIGO_CLIENTE')['FLAG_ATRASO'].max()

In [ ]:
dic = {'CODIGO_CLIENTE': clientes.index, 'CLASS': clientes.values}

In [ ]:
df_clientes = pd.DataFrame(data=dic)

In [ ]:
df_clientes.CLASS.value_counts()

In [ ]:
df_clientes['CODIGO_CLIENTE'] = df_clientes['CODIGO_CLIENTE'].astype(str)

In [ ]:
df_clientes = cadastro.merge(df_clientes, on='CODIGO_CLIENTE', how='inner')

In [ ]:
df_clientes.head()

In [ ]:
df_clientes.CLASS.value_counts()

In [ ]:
df_clientes.to_csv('TABELAO_FINAL.csv', index = False)